include *.txt
include *.py
recursive-include docs *
recursive-include extras *
recursive-include licenses *
recursive-include spec *
recursive-include test *
recursive-include tools *
recursive-exclude * .cvsignore *.pyc *~
