/* html4css2.css: Cascading style sheet for Docutils' html4strict writer.   */
/*                                                                          */
/* :Author: Günter Milde                                                    */
/* :Copyright: © 2009 Günter Milde.                                         */
/*             Released  without warranties or conditions of any kind       */
/*             under the terms of the Apache License, Version 2.0           */
/*          http://www.apache.org/licenses/LICENSE-2.0                      */
/*                                                                          */
/* This stylesheet supplements the Docutils standard style 'html4css1.css'. */
/* It uses CSS 2.1 elements (supported by up-to-date versions of popular    */
/* browsers).                                                               */

/* General rules */
/* ============= */

body {
  padding: 0 5%;
  margin: 8px 0;
  line-height:1.3;
  /* http://ilovetypography.com/2008/02/28/a-guide-to-web-typography/
  recommends "line-spacing that’s at least 140% of your text size" */
  counter-reset: table;
  /* counter-reset: figure; */
}

/* avoid long lines --> better reading */
/* OTOH: lines should not be too short because of missing hyphenation, */
div.document {
  max-width: 45em;
  margin: auto;
}

/* separate items except for compact lists */
dl > dd {
  margin-bottom: 1em;
}
.compact li, .compact p, .compact ul, .compact ol
dl.simple  > dd, .simple  li, .simple  p, .simple  ul, .simple  ol {
  margin-top: 0;
  margin-bottom: 0;
/*   background: magenta; */
}
dl.simple, dl.compact, dl.simple > dd, dl.compact > dd {
  margin-top: 0;
  margin-bottom: 0;
/*   background: lightgreen; */
}

/* space around paragraphs */
dl > dd p:first-child, td > p {
  margin: 0;
}

/* Sidebar */
/* ------- */

div.sidebar {
  margin-right: -5%;
}

/* Special definition lists */
/* ======================== */

/* bold definition term on the same line as the label */
dl.field-list > dt, dl.option-list > dt, dl.docinfo > dt,
dl.footnote > dt, dl.citation > dt, dl.description > dt {
  clear: left;
  float: left;
  margin: 0;
  padding: 0;
  padding-right: 0.5em;
  font-weight: bold;
}
/* except for these */
dl.option-list > dt, dl.footnote > dt {
  font-weight: normal;
}



/* Field Lists */
/* ----------- */

/* field names followed by a colon */
dl.field-list > dt:after, dl.docinfo > dt:after {
  content: ":";
}

/* Offset for field content (corresponds to the --field-name-limit option) */
dl.field-list > dd {
  margin-left:  9em; /* ca. 14 chars in the test examples */
  padding-left: 0.5em;
}

/* start field-body on a new line after long field names */
dl.field-list > dd p {
  width: 100%;
/*   display: inline-block; */
/*   background: yellow; */
}

dl.field-list > dd > p:first-child,
/* dl.field-list > dd > ol:first-child, */
/* dl.field-list > dd > ul:first-child, */
dl.field-list > dd > dl:first-child {
  display: inline-block;
}

/* field-list variants:: */

/* example for custom field-name width */
dl.field-list.narrow > dd {
  margin-left: 5em;
}

/* start field-body on same line after long field names */
dl.field-list.run-in > dd p {
  display: block;
}

/* wrap or truncate long field names */
dl.field-list.fix-labelwidth > dt {
  width: 8em; /* set to dl.field-list > dd margin-left - padding-left */
  overflow: hidden;
}
dl.field-list.fix-labelwidth > dd:after {
  /* a "stopper" to prevent next dd floating up too far */
  content: '';
  display: block;
  clear: left;
}

/* docinfo */

dl.docinfo > dd {
  margin-left: 8em;
/*   margin-bottom: 0.5em; */
}


/* option list */

dl.option-list {
  margin-left: 1em;
  padding-left: 0;
}

dl.option-list > dd {
  margin-left: 8em;
  /* margin-bottom: 0.5em; */
}

/* start description on a new line after long options */
dl.option-list > dd p {
  width: 100%;
  display: inline-block;
}

/* footnotes */

a.footnote-reference, a.fn-backref {
  text-decoration: inherit; /* do not underline footnote links */
}

dl.footnote {
  /* line on the left */
  padding-left: 1ex;
  border-left: solid;
  border-left-width: thin;
  /* border-color: black; */
}

/* paragraph on same line as backrefs */
dd > em {
/*   background: green; */
  float: left;
  margin-right: 1ex
}


/*
Ordered List (Enumeration)
--------------------------

Use counters to replace the deprecated start attribute. Make sure the
resulting list resembles the list-style 'outside' with a hanging indent.
*/

/* New ordered list: reset counter, suppress the default label */
ol, ol.arabic, ol.loweralpha, ol.upperalpha,
ol.lowerroman, ol.upperroman {
  counter-reset: item;
  list-style: none
}

/* Set the negative indent of the list label as feature of the list item */
ol > li {
  text-indent: -40px; /* Mozillas default indent */
}
/* reset for child elements */
ol > li > * {
  text-indent: 0px;
  text-indent: 0;
  margin-top: 0;
  /* background: lightgreen; */
}

/* Label */
ol > li:before {
  /* increment and typeset counter(s), */
  counter-increment: item;
  content: counter(item) ".";
  /* display next to the content (aligned top-right), */
  display: inline-block;
  text-align: right;
  vertical-align: top;
  /* sum must match ol>li {text-indent:} (40px is Mozillas default) */
  width: 35px;
  padding-right: 5px;
/*   background: yellow; */
}

/* The list item's first line starts next to the label, without indent */
ol > li > p:first-child,
ol > li > ol:first-child,
ol > li > ul:first-child,
ol > li > dl:first-child {
  display: inline-block;
  /* background: lightblue; */
}

/* default separator variants */
ol.loweralpha > li:before {
  content: counter(item, lower-alpha) ")";
}
ol.upperalpha  > li:before {
  content: counter(item, upper-alpha) ".";
}
ol.lowerroman  > li:before {
  content: "(" counter(item, lower-roman) ")";
}
ol.upperroman  > li:before {
  content: counter(item, upper-roman) ")";
}
/* nested counters (1, 1.1, 1.1.1, etc) */
/* nested enumerated lists "inherit" the class attribute, other lists not */
ol.nested > li:before, ol.nested  ol > li:before {
  content: counters(item, ".") " ";
}

/* lists nested in definition list */

dd > ul, dd > ol {
  padding-left: 0pt;
}

/* TODO: prefix, suffix? */

/* smaller font for super- and subscripts */
/* sub, sup {font-size: 70%;} */ /* Mozilla default is `smaller` */


/* Tables */
/* ====== */

/* margins and borders for "normal" tables */
table {
/*   background: magenta; */
  margin-top: 1em ;
  margin-bottom: 1em;
/*   border-style: outset; */
  border-style: solid;
  border-color: silver;
  border-width: thin;
  border-collapse: collapse;
}
blockquote > table {
  margin-top: 0em ;
  margin-bottom: 0em;
}

td, th {
  border-style: solid;
  border-width: thin;
  border-color: silver;
  /* text-align: left; */
  padding: 0 1ex;
}

td > p:first-child, th > p:first-child {
  margin-top: 0;
}
td > p, th > p {
  margin-bottom: 0;
}

/* no borders for "borderless" tables */
table.borderless, table.borderless * {
  border-style: none;
}

/* "booktabs" style (no vertical lines) */
table.booktabs {
  border: 0;
  border-top: 2px solid;
  border-bottom: 2px solid;
}

table.booktabs * {
  border: 0;
}
table.booktabs th {
  border-bottom: thin solid;
}

table > caption {
  text-align: left;
  margin-bottom: 0.25em
/*   padding: 2em 0 1em 0; */
}

/* numbered tables*/
table.numbered > caption:before {
  counter-increment: table; /* defined/re-set in body */
  content: "Table " counter(table) ": ";
  font-weight: bold;
}


/* literal text
   ------------
*/
/* whitespace and wrapping in inline literals */
/* possible values: normal, nowrap, pre, pre-wrap, pre-line */
tt.literal {
  white-space: pre-wrap;
}

/* /* compensate for initial line-break (which is literal with XHTML 1.1) */ */
/* pre.literal-block, pre.doctest-block {				     */
/*   margin-top: 0em ;							     */
/* }									     */

/* Table of Contents */

/* don't indent like a topic */
div.topic.contents {
  margin: 0;
}
/* div.topic.contents ul { */
/*   list-style: none;	   */
/*   }			   */

div.topic.contents a {
  text-decoration: none; /* no underline for links */
}

/* section numbers */

span.sectnum {
  padding-right: 1ex;
}

/* admonitions */

/* no padding for top and bottom */
div.admonition, div.attention, div.caution, div.danger, div.error,
div.hint, div.important, div.note, div.tip, div.warning {
  padding: 0px 1em }
