# Binary data types
*.mp4 binary
*.odt binary
*.pdf binary
*.png binary
*.swf binary

# Unix-style line endings
[attr]unix text eol=lf

docutils/*.cfg  unix
docutils/*.conf unix
docutils/*.css  unix
docutils/*.csv  unix
docutils/*.dtd  unix
docutils/*.el   unix
docutils/*.html unix
docutils/*.in   unix
docutils/*.ini  unix
docutils/*.js   unix
docutils/*.man  unix
docutils/*.md   unix
docutils/*.py   unix
docutils/*.rst  unix
docutils/*.sty  unix
docutils/*.tex  unix
docutils/*.toml unix
docutils/*.txt  unix
docutils/*.xml  unix

# Language aware diff headers
*.css  diff=css
*.html diff=html
*.md   diff=markdown
*.py   diff=python
# *.rst  diff=reStructuredText
*.tex  diff=tex
# *.txt  diff=reStructuredText

# Non UTF-8 encodings
docutils/test/data/latin1.txt        encoding=latin1
docutils/test/data/latin2.txt        encoding=latin1
docutils/test/data/utf-8-sig.txt     encoding=UTF-8-BOM
docutils/test/data/utf-16-le-sig.txt encoding=UTF-16LE-BOM
docutils/test/test_parsers/test_rst/test_directives/utf-16.csv encoding=UTF-16BE
sandbox/dkuhlman/docutils/test/test_writers/test_python_latex.py encoding=latin1
sandbox/docbook/test/data/utf16.rst encoding=utf-16le
sandbox/manpage-writer/expected/*.latin1 encoding=latin1
sandbox/mly/restblog/date_index.py encoding=latin1
sandbox/mly/restblog/main_index.py encoding=latin1
sandbox/mly/restblog/Makefile      encoding=latin1
sandbox/mly/restblog/restblog.py   encoding=latin1
sandbox/wilk/french/quickstart-fr.txt encoding=latin1
sandbox/xml2rst/tests/real/original/Technik.rst encoding=latin1

# Classify ``.txt`` as reStructuredText for syntax highlighting
*.txt linguist-language=reStructuredText
