MANIFEST
build
.venv
.tox

*~
*.pyc
*.egg-info
__pycache__

docutils/*.html
docutils/docs/**/*.html
docutils/tools/**/*.html

/docutils/test/alltests.out
/docutils/test/record.txt
/docutils/test/functional/output
