/* field-list-hanging.css

:Author: Guenter Milde

Optional style sheet for the HTML4strict writer. 

This stylesheet formats definition lists with a hanging indent.
(Like the LaTeX description list)

This stylesheet uses CSS 2.0 commands 
See http://en.selfhtml.org/css/eigenschaften/positionierung.htm

*/

/* new definition list layout rules */

dt.field-name {
    float:   left;
    font-weight: bold;
    padding-right: 0.5em ;
    /* The following might be needed in older browsers */
    /* width:   9.5em; */
    /* clear:   both; */
    }
dt.field-name:after {
  content: ":"; }    

dd.field-body {                  
  margin-left 10em;      
  }                      

