/* field-list-tablelike.css

:Author: Guenter Milde

style sheet for alternative formatting of field-lists. 

This stylesheet formats definition lists similar to a table with 2 columns
with truncating of long file names.

This stylesheet uses CSS 2.0 commands 
See http://en.selfhtml.org/css/eigenschaften/positionierung.htm
*/

/* import the default stylesheet */
@import url(html4css2.css);

/* new definition list layout rules */

/* in the final version, replace dl by dl.field-list */
dt.field-name {
   font-weight: bold;
   white-space: nowrap;
   clear:   both;
   float:   left;
   width:   9.5em;   /* This corresponds to the --field-name-limit option */
   overflow: hidden;
  }
dt.field-name:after {
  content: ":"; }    

dd.field-body {
  margin-left: 10em;   /* column sep = margin-left - dt.width */
  }


