@import url(df.css);

a {
  color: black ;
  font-size: 8pt }

a:hover {
  background-color: #00009F }

body {
  background-color: white ;
  font-size: 8pt ;
  padding-top: 0.6cm ;
  margin-top: 0cm ;
  margin-left: 0cm ;
  margin-right: 0.3cm ;
  margin-bottom: 1.0cm }

table {
  margin-top: 0cm ;
  width: 100% ;
  border-width: 0pt ;
  border-style: thin }

td {
  background-color: #6FC7FB ;
  font-size: 8pt ;
  width: 100% ;
  border-width: 0pt ;
  border-style: thin }

td.section {
  background-color: #00009F ;
  font-weight: bold ;
  color: white }

td.empty {
  background-color: white }
