name: Lint

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  flake8:
    name: Lint using flake8
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3
        cache: pip
        cache-dependency-path: .github/workflows/linting.yml

    - name: Install dependencies
      run: pip install "flake8<6"

    - name: Run flake8
      run: |
        cd docutils
        flake8 docutils
