name: Lint

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"
  UV_SYSTEM_PYTHON: "1"  # make uv do global installs

jobs:
  ruff:
    name: Lint using Ruff
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3"
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        version: latest
        enable-cache: false
    - name: Install Ruff
      run: uv pip install "ruff==0.9.10"
    - name: Lint with Ruff
      run: ruff check docutils --output-format github

  flake8:
    name: Lint using flake8
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3"
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        version: latest
        enable-cache: false
    - name: Install flake8
      run: uv pip install flake8
    - name: Run flake8
      run: flake8 docutils

  twine:
    name: Check packaging using twine
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3"
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        version: latest
        enable-cache: false
    - name: Install dependencies
      run: uv pip install twine build
    - name: Lint with twine
      run: |
        cd docutils
        python -m build
        twine check --strict dist/*
