name: Lint

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: read

jobs:
  flake8:
    name: Lint using flake8
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: 3
        cache: pip
        cache-dependency-path: .github/workflows/linting.yml

    - name: Install dependencies
      run: pip install flake8

    - name: Run flake8
      run: |
        cd docutils
        flake8 docutils
